<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="business" class="com.zhenhua.spring.aop.aspectj.xml.Business"/>
    
    <bean id="myaspect" class="com.zhenhua.spring.aop.aspectj.xml.MyAspect"/>
     
    <aop:config>
        <aop:pointcut expression="execution(* com.zhenhua.spring.aop.aspectj.xml.Business.*(..))" id="pointcut1"/>
        <aop:aspect ref="myaspect">
            <aop:before method="before" pointcut-ref="pointcut1"/>
            <aop:after method="after" pointcut-ref="pointcut1"/>
            <aop:around method="around" pointcut-ref="pointcut1"/>
        </aop:aspect>
    </aop:config>
</beans>

